<%- include ('../partials/header') -%>

<header>
    <div class="container text-center">
        <h4 class="logo-font md-brand">Where Will Your Next Play Time Be?</h4>
        <div class="space-top">
            <a class="btn btn-lg btn-rounded add-btn" href="/parks/new">Add New Park</a>
        </div>
    </div>
</header>

<hr class="divider">

<div class="container space-bottom">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <div class="col-12">
            <h3 class="section-heading">Most Popular Parks</h3>
        </div>

        <% parks.forEach(function(park) { %>
        <div class="col-md-3 col-sm-6 preview-cards">
            <div class="card">
                <img class="preview-img" src="<%= park.image %>" alt="<%= park.name %> Image">
                <div class="caption">
                    <p><%= park.name %></p>
                </div>
                <p>
                    <a href="/parks/<%= park._id %>" class="btn btn-sm btn-rounded info-btn">More Info</a>
                </p>
            </div>
        </div>
        <% }) %>

    </div>

    <%- include ('../partials/footer') -%>