<%- include ('../partials/header') -%>

<div class="container show-page">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item active">Info</li>
                <li class="list-group-item">Location - Coming Soon</li>
                <li class="list-group-item">Features - Coming Soon</li>
            </div>
            <div class="space-top">
                <a class="back-btn" href="/parks"><i class="fas fa-arrow-left"></i></a>
            </div>
        </div>
        <div class="col-md-9 space-bottom">
            <div class="card detail-card">
                <img class="img-responsive" src="<%= park.image %>">
                <div class="card-body">
                    <h6 class="float-right">Free</h6>
                    <h4><%= park.name %></h4>
                    <p><%= park.description %></p>
                    <p>
                        <em>
                            Submitted by <%= park.author.username %>,
                            <%= moment(park.createdAt).fromNow() %>
                        </em>
                    </p>

                    <% if(currentUser && park.author.id.equals(currentUser._id)) { %>
                    <a href='/parks/<%= park._id %>/edit' class='btn btn-rounded btn-sm edit-btn'>Edit</a>
                    <form class="delete-form" action='/parks/<%= park._id %>?_method=DELETE' method='POST'>
                        <button class='btn btn-rounded btn-sm delete-btn'>Delete</button>
                    </form>
                    <% } %>

                </div>
            </div>
            <div class="card detail-card space-top card-body">
                <div class="text-right">
                    <a class="btn btn-rounded btn-md add-btn" href="/parks/<%= park._id %>/comments/new">Add
                        a Comment</a>
                </div>
                <hr>
                <% park.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="float-right"><%= moment(park.createdAt).fromNow() %></span>
                        <p><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-rounded btn-sm edit-btn"
                            href="/parks/<%= park._id %>/comments/<%= comment._id %>/edit">
                            Edit
                        </a>
                        <form class="delete-form"
                            action="/parks/<%= park._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class='btn btn-rounded btn-sm delete-btn'>Delete</button>
                        </form>
                        <% } %>

                    </div>
                </div>
                <% }); %>

            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer') -%>